// COLORS

//https://visme.co/blog/color-combinations/ Blue Sunset

$color: #36688D; //hsl(91, 86%, 22%) Calypso
$color: #F3CD05; //hsl(50, 96%, 49%) Corn
$color: #F49F05; //hsl(39, 96%, 49%) California
$color: #F18904; //hsl(34, 97%, 48%) Tangerine
$color: #BDA589; //hsl(32, 28%, 64%) Indian Khaki


$color-primary: #BDA589;
$color-primary-dark: rgb(161, 141, 117);

$color-secondary: #36688D;
$color-secondary-dark: rgb(46, 87, 119);

$color-tertiary: #F49F05;
$color-tertiary-dark: #F18904;

$color-white: #fff;
$color-black: #444;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #555;



// FONT
$default-font-size: 1.6rem;

$font-size-xxl: 9.6rem;
$font-size-xl: 4.8rem;
$font-size-l: 3.2rem;
$font-size-m: 2.4rem;

$font-heading-1: 'Oswald', sans-serif;
$font-heading-2: 'Roboto Condensed', sans-serif;
$font-text: 'Roboto', sans-serif;


// DISTANCES
$distance-m: 3rem;